/*重置css样式*/
div,h1,h2,h3,h4.div,p,ul,li,ul,ol,dl,dt,dd,table,button,tr,td,form,input,textarea,img,b,a,span,body{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
img{border: none;}
input,textarea,button{border: none;}
i,em{font-style:normal}
/*公用样式*/
body{font-size:12px;font-family: "宋体";color:#000;}
.fl{float: left;}
.fr{float: right;}
.wrap{width:1000px;margin:0 auto;}
.clear{clear:both;}
.header .pink{color:#dd2f30;}
.clearfix:after{content:"";height:0;font-size:0;overflow: hidden;display:block;clear:both;}
.clearfix{*zoom:1;}
/*top*/
.top{height:30px;background:url("../images/top_bg_02.jpg") repeat-x left top;line-height:30px;}
.top_right{}
.top_right li{float:left;padding-top:4px;line-height:22px;margin-right:17px;}
.top_right li a{color:#333;}
.top_right li img{vertical-align: middle;margin-right:6px;}
.top_right li span{margin:0 12px 0 14px;}
/*banner*/
.logo form input[type="text"]{width:346px;height:29px;border:1px solid #999;}
.logo form input[type="button"]{width:57px;height:31px;background:#000;color:#fff; font-weight:bold;  font-family:"微软雅黑";font-size:14px;line-height:31px;}
.logo ul li{float:left;margin-right:13px;line-height:30px;}
.logo ul li a{color:#333;}
.pink{color:#bc210a;}
.logo_form{padding-top:25px;}
/*nav*/
.nav{background:#7a1607;line-height:40px;height:40px;font-size:14px;text-align: center;}
.nav ul li{float:left;width:122px;background:url("../images/nav_ge_03.jpg") no-repeat right top;}
.nav ul li a{color:#fff;}
.nav ul li a:hover{width:119px;height:40px;background:#3b0704;display:block;}
.nav .last{background:none;}
/*banner*/
.banner{margin-bottom:20px; background-size:cover;background:#d7d7d7 url("../images/banner02.jpg") no-repeat center center;height:520px;}
.banner_wrap{position:relative;}
.banner_box{border:1px solid #ccc;background:#fff;position:absolute;top:412px;left:0;}
.banner_left{width:164px;}
.banner_mid{width:580px;padding:6px 0;}
.banner_mid li{float:left;line-height:28px;margin-left:18px;padding-bottom:2px;}
.banner_mid li a{color:#000;padding:0 6px; display:block;}
.banner_mid li a:hover{background:#000;color:#fff;}
.banner_mid .neck,.banner_mid .sport{background:#000;color:#fff;}
.banner_right{padding:17px 0 0 0;}
.banner_right span{padding:0 0 0 14px;background:url("../images/anniu_03.jpg") no-repeat left top;width:100px;height:33px;display:inline-block;color:#fff;float:left;margin-right:10px;line-height:33px;}
.banner_right span img{margin-right:8px;vertical-align: middle;padding-top:4px;}



/*footer*/
.footer{height:144px;background:url("../images/footer_bg_03.jpg") repeat-x left top;color:#666666}
.footer_left{padding-top:28px;width:308px;}
.footer_right{padding-top:21px;}
.footer_right ul{width:690px;}
.footer_right ul li{float:left;margin-left:12px;line-height:24px;}
.footer_right p{line-height:21px;padding-left:12px;}











































































































































































































































































































































































































































































































































































































































































































































































